<% var rootPath = '../../'; %>
<!DOCTYPE HTML>
<html>
    <head>
        <%- include(rootPath + 'partials/includes'); %>
    </head>
    <body>
        <%- include(rootPath + 'partials/nav'); %>
        <link rel="stylesheet" href="css/page.css">

        <div class="homeImg container-fluid">
            <div class="homeDiv center container">
                <h1 class="titleMain cenX">ELECTRONICS</h1>

                <div class="row rowBackSS"></div>
                <h3 class="subTitle">I finished my Bachelor's degree in Electrical engineering and Automation</h3>
            </div>

            <div class="homeSouth">
                <h4><a class="subTitle noColor" href="#">VIEW PROJECTS</a></h4>
                <button class="smoothScrollBtn" type="button"><img src="/images/Down-Arrow.png" width="30"/></button>
            </div>
        </div>

        <a class="anchor" id="top"></a>

        <div class="container-fluid sec temp">
            <div class="container">

                <div class="borderProj">
                    <a href="discharge-protection-circuit" class="noColor">
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <span class="helper"></span><img src="/images/IMG_1718.jpg" class="projImg"></img>
                            </div>
                            <div class="projText col-lg-8 col-md-12">
                                <h3 class="regTitle">既然转了专业</h3>
                                <p class="subP pad0 italic">scalable, cheap, simple</p>
                                 <p class="subP desc" data-desc="discharge-protection-circuit"></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="borderProj">
                    <a href="air-conditioner-DIY" class="noColor">
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <span class="helper"></span><img src="air-conditioner-DIY/images/me-wiring.jpg" class="projImg"></img>
                            </div>
                            <div class="projText col-lg-8 col-md-12">
                                <h3 class="regTitle">就要学会忘记</h3>
                                 <p class="subP desc" data-desc="air-conditioner-DIY"></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

            <div class="container-fluid backDark sec">
                <div class="container">
                    <h3 class="subTitle white">MY GOAL</h3>
                    <p class="subText white extPad">qwq</p>
                </div>
            </div>

            <div class="container-fluid sec">
                <div class="container">
                    <h3 class="subTitle">MY SETUP</h3>
                    <p class="subP">qwq..</p>
                    <img src="images/IMG_2045.jpg" width="100%" style="padding: 60px"/>
                </div>

                <div class="container">
                    <h3 class="subTitle">THE FUTURE</h3>
                    <p class="subP">I have many exciting plans for the future of Software</p>
                </div>
            </div>

        <div class="container-fluid btnLinks extPad">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="leftCenter">
                            <h3 class="sub2">CONTRIBUTE</h3>
                            <p class="subText">Take part in the project</p>
                            <a class="btn btn-secondary btn-lg w100" href="/contact" role="button">Contact Me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include(rootPath + 'partials/footer'); %>
        <script type="text/javascript" src="scripts/shift.js"></script>
        <script type="text/javascript" src="/scripts/fetchDesc.js"></script>
    </body>
</html>
