<% var rootPath = '../../../'; %>
<!DOCTYPE HTML>
<html>
    <head>
        <%- include(rootPath + 'partials/includes'); %>
    </head>
    <body>
        <%- include(rootPath + 'partials/nav'); %>
        <link rel="stylesheet" href="css/page.css">

        <link href="/lightbox/ekko-lightbox.css" rel="stylesheet">

        <div class="container-fluid">
            <div class="container ">
                    <div class=" topPad cenX">

                        <h1 class="titleMain">delete</h1>

                        <div class="cenX">
                            <h3 class="regTitle">Watch the Video</h3>
                            <div class="aspect-ratio">
                                <iframe width="960"  height="540" src="https://www.youtube.com" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
                            </div>
                        </div>

                        <h3 class="subTitle ">As seen on..</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <iframe src="https://www.facebook.com/" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

                            </div>
                            <div class="col-md-6">
                            <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">loading... 7</a></blockquote>

                            </div>
                        </div>
                    </div>
            </div>
        </div>


        <div class="container-fluid backDark sec">
            <div class="container">
                <h3 class="subTitle white">IDEA</h3>
                <p class="subText white extPad" id="desc">loading...  </p>
            </div>
        </div>

        <div class="container-fluid sec">
            <div class="container">
                <h3 class="subTitle">deleted</h3>
                <p class="subP">loading...  </p>

                      <div class="row justify-content-center padX60F">
                          <div class="row">
                              <a href="images/first-setup.jpg" data-toggle="lightbox" data-type="image" data-gallery="gal" class="col-sm">
                                  <img src="images/first-setup.jpg" class="img-fluid">
                              </a>


                          </div>
                      </div>
            </div>

            <div class="container tiles">
                <h3 class="subTitle">SETUP</h3>

                    <p class="subP">loading... <br/><br/>
                     loading... </p>

                      <div class="row justify-content-center padX60F">
                          <div class="row">
                              <a href="images/fan-setup.jpg" data-toggle="lightbox" data-type="image" data-gallery="gal" class="col-md-3 col-sm-6">
                                  <img src="images/fan-setup.jpg" class="img-fluid">
                              </a>
                              <a href="images/testing-mosfet.jpg" data-toggle="lightbox" data-type="image" data-gallery="gal" class="col-md-3 col-sm-6">
                                  <img src="images/testing-mosfet.jpg" class="img-fluid">
                              </a>
                              <a href="images/arduino.jpg" data-toggle="lightbox" data-type="image" data-gallery="gal" class="col-md-3 col-sm-6">
                                  <img src="images/arduino.jpg" class="img-fluid">
                              </a>
                              <a href="images/switches.jpg" data-toggle="lightbox" data-type="image" data-gallery="gal" class="col-md-3 col-sm-6">
                                  <img src="images/switches.jpg" class="img-fluid">
                              </a>

                          </div>
                      </div>
            </div>

            <div class="container sche">
                <h3 class="subTitle">CHALLENGES</h3>
                <p class="subP">loading... </p>

                <p class="subP">loading... </p>

                     <div class="row justify-content-center padX60F">
                         <div class="row">

                             <a href="images/cardboard-fan.jpg" data-toggle="lightbox" data-type="image" data-gallery="gal" class="col-sm">
                                 <img src="images/cardboard-fan.jpg" class="img-fluid">
                             </a>

                             <a href="images/glue-to-ceiling.jpg" data-toggle="lightbox" data-type="image" data-gallery="gal" class="col-sm">
                                 <img src="images/glue-to-ceiling.jpg" class="img-fluid">
                             </a>
                             <a href="images/wiring.jpg" data-toggle="lightbox" data-type="image" data-gallery="gal" class="col-sm">
                                 <img src="images/wiring.jpg" class="img-fluid">
                             </a>

                         </div>
                     </div>


            </div>

            <div class="container scal">
                <h3 class="subTitle">RESULTS</h3>
                <p class="subP"> Looking forward to more advanced projects
                       in the future!</p>

                       <div class="row justify-content-center padX60F">
                           <div class="row">
                               <a href="images/final-1.jpg" data-toggle="lightbox" data-type="image" data-gallery="gal" class="col-sm">
                                   <img src="images/final-1.jpg" class="img-fluid">
                               </a>
                               <a href="images/final-2.jpg" data-toggle="lightbox" data-type="image" data-gallery="gal" class="col-sm">
                                   <img src="images/final-2.jpg" class="img-fluid">
                               </a>

                           </div>
                       </div>
            </div>
        </div>

        <!-- btnLINKS -->
        <div class="container-fluid btnLinks extPad">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-4 bot">
                        <div class="leftCenter">
                            <h3 class="sub2">CODE</h3>
                            <p class="subText">View the code on github</p>
                            <a class="btn btn-success btn-lg w100" href="https://github.com/jiayuewang" role="button">Source Code</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="leftCenter">
                            <h3 class="sub2">WATCH</h3>
                            <p class="subText">video about the build process</p>
                            <a class="btn btn-danger btn-lg w100" href="https://www.youtube.com/>YouTube Video</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include(rootPath + 'partials/footer'); %>
        <script src="scripts/widgets.js" charset="utf-8"></script>

        <script src="/lightbox/ekko-lightbox.js"></script>
        <script type="text/javascript">
            $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
       </script>
    </body>
</html>
