<div class="shadow-corner-curl hidden-xs">
      <div class="categories-list-header">
        热门文章
      </div>

 <ul class="list-unstyled">
      	<li><a href="/blog/2015/03/github-pages-blog.html" class="categories-list-item">Github.io</a></li>	
<li><a href="/blog/2014/07/qualified-programmer-should-read-what-books.html" class="categories-list-item">书籍推荐</a></li>
<li><a href="/blog/2014/12/c-open-project.html" class="categories-list-item">C/C++框架和库</a></li>
<li><a href="/blog/2014/12/c-code-opt.html" class="categories-list-item">C代码优化小贴士</a></li>	
<li><a href="/blog/2014/06/26-methods-to-improve-java-performance.html" class="categories-list-item">Java-Tips</a></li>
<li><a href="/blog/2015/04/gradle-task-management.html" class="categories-list-item">Gradle-任务管理</a></li>	
<li><a href="/blog/2015/05/android-links.html" class="categories-list-item">安卓开发者</a></li>
<li><a href="/blog/2015/05/gradle-dependency-management.html" class="categories-list-item">Gradle系列教程之依赖管理</a></li>
<li><a href="/blog/2014/10/android-opensource.html" class="categories-list-item">android开源框架</a></li>	 
<li><a href="/blog/2015/07/hibernate-cache-guide.html" class="categories-list-item">Hibernate缓存配置笔记</a></li>	
	 
     </ul>
</div>
