<% var rootPath = '../../'; %>
<!DOCTYPE HTML>
<html>
    <head>
        <%- include(rootPath + 'partials/includes'); %>
    </head>
    <body>
        <%- include(rootPath + 'partials/nav'); %>
        <link rel="stylesheet" href="css/page.css">

        <div class="homeImg container-fluid">
            <div class="homeDiv center container">
                <h1 class="titleMain cenX">CODE REPOSITORY</h1>

                <div class="row rowBackSS"></div>
                <h3 class="subTitle" id="here">Full-Stack with Rest API| Machine Learning and AI
            </div>

            <div class="homeSouth">
                <h4><a class="stealthLink subTitle pad0" href="#">VIEW PROJECTS</a></h4>
                <button class="smoothScrollBtn" type="button"><img src="/images/Down-Arrow.png" width="30"/></button>
            </div>
        </div>

        <a class="anchor" id="top"></a>

        <div class="container-fluid sec temp">
            <div class="container">
                <div class="borderProj">
                    <a href="timelapse-auto-ramp" class="noColor">
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <span class="helper"></span><img src="timelapse-auto-ramp/results/thumbs/sunset-cmp.jpg" class="projImg"></img>
                            </div>
                            <div class="projText col-lg-8 col-md-12">
                                <h3 class="regTitle">Welcome to Umiuni.com</h3>
                                <p class="subP pad0 italic">React and Golong</p>
                                <!-- <?php
                                    $content = "Identifies exposure changes over a sequence of images, and evenly applies offset
                                    calculations to combat exposure changes. Creating a perfectly exposed timelapse video suitable for
                                    difficult lighting conditions such as sunrise";

                                    $content = substr($content, 0, 302) . " ...";

                                    echo '<p class="subP desc" data-desc="timelapse-auto-ramp">' . $content . '</p>';

                                 ?> -->
                                 <p class="subP desc" data-desc="timelapse-auto-ramp"></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="borderProj">
                    <a href="pathfinding" class="noColor">
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <span class="helper"></span><img src="images/standard-fix.gif" class="projImg"></img>
                            </div>
                            <div class="projText col-lg-8 col-md-12">
                                <h3 class="regTitle">Machine Learning and AI</h3>
                                <!-- <?php
                                    $content = "Developed dynamic map creation system from scratch, created visualization
                                    (Swing GUI) to display live data, animation, speed control and timed algorithm analysis";

                                    $content = substr($content, 0, 302) . " ...";

                                    echo '<p class="subP desc">' . $content . '</p>';
                                 ?> -->
                                 <p class="subP desc" data-desc="pathfinding"></p>

                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="container-fluid backDark sec">
            <div class="container">
                <h3 class="subTitle white">MY GOAL</h3>
                 <p class="subText white extPad">
                      I have a very entrepreneurial spirit and enjoy solving meaningful
                       problems in a simplistic and lightweight approach.</p>
            </div>
        </div>

        <div class="container-fluid sec">
            <div class="container">
                <h3 class="subTitle">TECHNICAL SKILLS</h3>
                <h3 class="subTitle">Full-Stack</h3>
                <p class="subP">RESTful API<br/><br/>
                    React, Java, Golang , Node.js, WebSocket, RabbitMQ, Express.js</a></p>
            </div>

            <div class="container">
                <h3 class="subTitle">Cloud Services</h3>
                <p class="subP">Spring Boot, Spring Cloud, Netflix OSS, Maven, Mybatis, Tomcat, Shell, AWS. MySQL, NoSQL, Redis.</p>
            </div>

            <div class="container">
                <h3 class="subTitle">Machine Learning</h3>
                <p class="subP">C++, Python, TensorFlow, Pytorch, Caffe, CNN, RNN, LSTM, CUDA C.</p>

            </div>

            <div class="container">
                <h3 class="subTitle">Mobile</h3>
                <p class="subP">OC, Swift, React Native</p>
            </div>
        </div>

        <div class="container-fluid btnLinks extPad">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-4 bot">
                        <div class="leftCenter">
                            <h3 class="sub2">FOUND A BUG?</h3>
                            <p class="subText">Let me know</p>
                            <a class="btn btn-success btn-lg w100" href="https://github.com/jiayuewang>Github</a>
                        </div>
                    </div>
                    <div class="col-md-4 bot">
                        <div class="leftCenter">
                            <h3 class="sub2">CONTRIBUTE</h3>
                            <p class="subText">Take part in the project</p>
                            <a class="btn btn-secondary btn-lg w100" href="/contact" role="button">Contact Me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include(rootPath + 'partials/footer'); %>
        <script type="text/javascript" src="scripts/shift.js"></script>
        <script type="text/javascript" src="/scripts/fetchDesc.js"></script>
    </body>
</html>
