<% var rootPath = '../../../'; %>
<!DOCTYPE HTML>
<html>
    <head>
        <%- include(rootPath + 'partials/includes'); %>
    </head>
    <body>
        <%- include(rootPath + 'partials/nav'); %>
        <link rel="stylesheet" type="text/css" href="css/page.css"/>

        <link href="/lightbox/ekko-lightbox.css" rel="stylesheet">

            <div class="container-fluid">
                <div class="container ">
                    <div class="row">
                        <div class="col topPad cenX">

                                <h1 class="titleMain">Full-Stack Development</h1>
                                <h3 class="regTitle"> Rest API</h3>


                        </div>
                        <!-- <div class="col-4 topPad">

                            yoyoyo
                        </div> -->
                    </div>

                    <div class="cenX padB60">
                        <a class="btn btn-primary btn-lg" href="releases/proRAW.jar" role="button" download>Our werbsite</a>
                        <a class="linkGrey" id="srcCode" href="https://umiuni.com">View source code</a>
                    </div>

                    <div class="row exText">
                        <div class="col-4">
                            <h5 class="cenX">RestAPI</h5>
                        </div>
                        <div class="col-4">
                            <h5 class="cenX">Microservice</h5>
                        </div>
                        <div class="col-4">
                            <h5 class="cenX">SocialMedia</h5>
                        </div>
                    </div>
                    <video width="100%" autoplay loop class="round3 vid">
                        <source src="results/Timelapse-auto-ramp-compressed-3.mp4"></source>
                    </video>
                </div>
            </div>

            <div class="container-fluid theoryDiv sec">
                <div class="container">
                    <h3 class="subTitle white">Umiuni.com</h3>
                    <p class="subText white extPad" id="desc"> Achieved Gin framework and Swagger Framework to make React-Golang-Auth. Implemented a mobile goods trading system on IOS system. Designed a RESTful web application version for goods exchanging including: Login Function, User Profile and User Authentication. </p>
                </div>
                <div class="container">
                    <h3 class="subTitle white">Jogchat.com</h3>
                    <p class="subText white extPad" id="desc"> A platform for maintaining a community project aimed at grouping Asians in North America together based on interests and locality. We have Grouped over 30k Customers and growing.(Passport.js, Node.js, Express, HTML, CSS, JavaScript).</p>
                </div>
            </div>

            <div class="container-fluid sec">
                <div class="container">
                    <h3 class="subTitle">Microservices</h3>
                        <ul class="listPad">
                            <li>When I did my internship at Baidu. I built a web application Micro-services “Self-Driving car” to process and display real-time Maps. Uploading pre-defined locations and status from JSON file, desterilize to JSON object, and store into database. (Spring Boot, Spring Cloud, Netflix OSS)Consume current locations from locations queue, RabbitMQ. Setup WebSocket connect and push locations to Client.</li>
                            <li>https://github.com/jiayuewang/RealTimeLocation-WebApp</li>
                        </ul>
                </div>

                <div class="container">
                    <h3 class="subTitle">NCSA</h3>
                        <ul class="listPad">
                            <li>I am doing my graduate Research in Social media Microscope at National Center For Super Computing Applications</li>
                            <li>http://www.ncsa.illinois.edu/</li>
                            <li> I made Full Stack Web-App with React and Node.js, in order to achieve face recognition interface.</li>
                            <li>Worked with Amazon AWS team in UIUC Social Media Microscope. (Kinesis, ReKognition)</code></li>
                            <li>Created an academic success tracker for students. Developed social media analytics tools and video recognition tools. (Rest API, AWS, Tensorflow.js)</li>
                            <li>https://will.illinois.edu/highlights/story/hey-alexa</li>
                        </ul>
                </div>

                <div class="container">
                    <img src="images/cmd.PNG" width="90%" class="centerImg padB40"></img>
                </div>
            </div>

            <!-- <div class="container-fluid sec">
                <div class="container">
                    <h3 class="subTitle">RESULTS</h3>
                    <div class="row justify-content-center">
                        <div class="row">
                            <a href="results/sunset-result.mp4" data-toggle="lightbox" data-type="video" data-gallery="video-gallery" class="col-sm-4">
                                <img src="results/thumbs/sunset-cmp.jpg" class="img-fluid">
                            </a>
                            <a href="https://www.youtube.com/watch?v=tPx9ZOmckCc" data-toggle="lightbox" data-gallery="video-gallery" data-type="youtube" class="col-sm-4">
                                <img src="/images/IMG_1083.jpg" class="img-fluid">
                            </a>
                            <a href="/timelapses/DamBeach.mp4" data-toggle="lightbox" data-gallery="video-gallery" data-type="video" class="col-sm-4">
                                <img src="/images/IMG_1691.jpg" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
            </div> -->

            <!--  -->
            <!-- btnLINKS -->
            <div class="container-fluid btnLinks extPad">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 bot">
                            <div class="leftCenter">
                                <h3 class="sub2">FOUND A BUG?</h3>
                                <p class="subText">Let me know on github</p>
                                <a class="btn btn-success btn-lg w100" href="https://github.com/jiayuewang" role="button">Issues</a>
                            </div>
                        </div>
                        <div class="col-md-4 bot">
                            <div class="leftCenter">
                                <h3 class="sub2">CONTRIBUTE</h3>
                                <p class="subText">Take part in the project</p>
                                <a class="btn btn-secondary btn-lg w100" href="/contact" role="button">Contact Me</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="leftCenter">
                                <h3 class="sub2">GET FOR FREE</h3>
                                <p class="subText">No install necessary</p>
                                <a class="btn btn-primary btn-lg w100" href="releases/" role="button" download>Download .jar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <p class="subText extPad">Note:following the
                    instructions above.</p>
            </div>

        <%- include(rootPath + 'partials/footer'); %>
        <script src="scripts/mobile.js" type="text/javascript"></script>

        <script src="/lightbox/ekko-lightbox.js"></script>
        <script type="text/javascript">
            $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
       </script>
    </body>
</html>
