<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/page.css"/>
    <% include ../partials/includes %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="homeImg">
        <div class="homeDiv center">
            <h1 class="titleMain">CECILY WANG</h1>
            <h3>A Software Engineer passionate for innovative technology and digital content</h3>
        </div>
        <div class="homeSouth">
            <h4><a class="stealthLink subPmin padX0" href="#">Read More</a></h4>
            <button class="smoothScrollBtn" type="button"><img src="/images/Down-Arrow-White.png" width="30"/></button>
        </div>
    </div>

    <div class="container-fluid aboutMe" >
        <div class="container aboutMe">
            <div class="row rowPad" >
                <div class="col-md-4">
                    <img src="/images/IMG_1964_cmp.jpg" class="circleImg"></img>
                </div>
                <div class="col-md-8">
                    <p class="pad20">Welcome to my website. I am a software hobbyist,
                         and a graduate student from University of Illinois at Urbana- Champaign. In the
                        past few years I have worked on many independent
                        projects alongside my formal education. My goal is to develop
                        innovative solutions in the Full-Stack development, Cloud Services and Machine Learning industries through my combined software and hardware experience.I created this site to share my interests, as they evolve,
                        and connect with like minded individuals.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid softwareImg">
        <div class="container softwareDiv">
            <h1 class="leftTitle subTitle white" style="padding-top: 0px">SOFTWARE</h1>
            <div class="row">
                <div class="col-md-6 tilePadWide softTileBack col1Pad">
                    <h3 class="white regTitle cenX">RESTful API</h3>
                    <h5 class="tileDesc subPmin white"> React, Java, Scala, Node.js, WebSocket, RabbitMQ, Express.j</h5>
                    <ul class="centerLinks">
                        <li style="display:inline-block;">
                            <a href="software/timelapse-auto-ramp"><p style="border-width:0px" id="PSDPlug">Previous Intern at Baidu</p></a>
                        </li>
                        <li class="brText"><p>|</p></li>
                        <li style="display:inline-block;">
                            <a href="/software#top"><p>View all projects</p></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 tilePadWide softTileBack col2Pad">
                    <h3 class="white regTitle cenX">Machine Learning Research</h3>
                    <h5 class="tileDesc subPmin white"> C++, Python, TensorFlow, Pytorch, Caffe, CNN, RNN, LSTM, CUDA </h5>
                    <ul class="centerLinks">
                        <li style="display:inline-block;">
                            <a href="software/pathfinding"><p style="border-width:0px" id="pathLink">latest experience</p></a>
                        </li>
                        <li class="brText"><p>|</p></li>
                        <li style="display:inline-block;">
                            <a href="software#top"><p>View all projects</p></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 tilePadWide softTileBack col1Pad">
                    <h3 class="white regTitle cenX">Social Media</h3>
                    <h5 class="tileDesc subPmin white">I am doing research in Social Media Microscope in National Center for Super Computing Applications & UIUC </h5>
                    <ul class="centerLinks">
                        <li style="display:inline-block;">
                            <a href="electronics/air-conditioner-DIY"><p style="border-width:0px">Docking with AWS</p></a>
                        </li>
                        <li class="brText"><p>|</p></li>
                        <li style="display:inline-block;">
                            <a href="electronics#top"><p>View all projects</p></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 tilePadWide softTileBack col2Pad">
                    <h3 class="white regTitle cenX">Start-Up experience</h3>
                    <h5 class="tileDesc subPmin white">Grouped over 30k Customers and growing with Alumnis. React-Golang-Auth. https://jogchat.com/ https://Umiuni.com/</h5>
                    <ul class="centerLinks">
                        <li style="display:inline-block;">
                            <a href="electronics/air-conditioner-DIY"><p style="border-width:0px">Docking with AWS</p></a>
                        </li>
                        <li class="brText"><p>|</p></li>
                        <li style="display:inline-block;">
                            <a href="electronics#top"><p>View all projects</p></a>
                        </li>
                    </ul>
                </div>
                <a class="btn btn-outline-secondary btn-lg centerBtn" href="software" role="button">Learn More</a>
            </div>
        </div>
    </div>

    <div class="container-fluid electronicsBack">
        <div class="container extraSpace">
            <h2 class="centerTitle subTitle padX0 padtop0">ELECTRONICS</h2>
            <div class="row">
                <div class="col-lg-4 tilePadWide">
                    <div>
                        <h3 class= "cenX subTitle padX0">National Undergraduate Electronics Design Contest</h3>
                        <h5 class="tileDesc subPmin">I was building a
                            Bidirectional DCDC converter in 2015 and won the First Price</h5>
                    </div>
                </div>
                <div class="col-lg-4 tilePadWide">
                    <div>
                        <h3 class="cenX subTitle padX0">National Robotic Competition</h3>
                        <h5 class="tileDesc subPmin">I attended the 13th National Robotic Competition and Won the First Price</h5>
                    </div>
                </div>
                <div class="col-lg-4 tilePadWide">
                    <div>
                        <h3 class="cenX subTitle padX0">Mathematical Contest In Modeling</h3>
                        <h5 class="tileDesc subPmin">Won the Meritorious Winner in 2016 and Honorable Mention in 2015</h5>
                    </div>
                </div>
                <a class="btn btn-secondary btn-lg centerBtn" href="electronics" role="button">Learn More</a>

            </div>
        </div>
    </div>

    <div class="container-fluid videoBack">
        <div class="container padY60 padX0">
            <h2 class="leftTitle whiteText subTitle padtop0">FILMS</h2>
            <div class="row">
                <div class="col-lg-2 tilePadMin">
                    <div class="centerDiv">
                        <h3 class= "odometer tileTitle odoSubs whiteText" id="odometer" style="display:block">0</h3>
                        <h5 class="tileDesc whiteText">Subscribers</h5>
                    </div>
                </div>
                <div class="col-lg-2 tilePadMin">
                    <div class="centerDiv">
                        <h3 class="odometer tileTitle odoViews whiteText" style="display:block">0</h3>
                        <h5 class="tileDesc whiteText">Views</h5>
                    </div>
                </div>
                <div class="col-lg-4 tilePadMin">
                    <div class="centerDiv">
                        <h3 class="tileTitle whiteText">Collections</h3>
                        <h5 class="tileDesc whiteText">Creating digital content</h5>
                    </div>
                </div>
                <div class="col-lg-2 tilePadMin">
                    <div class="centerDiv">
                        <h3 class="tileTitle whiteText">Experiences</h3>
                        <h5 class="tileDesc whiteText">with Much Studios</h5>
                    </div>
                </div>
                <div class="col-lg-2 tilePadMin">
                    <div class="centerDiv">
                        <h3 class="tileTitle whiteText">Areas</h3>
                        <h5 class="tileDesc whiteText">Videos</h5>
                    </div>
                </div>
                <a class="btn btn-lg centerBtn learnFilmsBtn" href="films" role="button">Learn More</a>
            </div>
        </div>
    </div>

    <div class="container-fluid photoBack">
        <div class="w-100">
            <div class="container photoDiv extraSpace">
                <h2 class="subTitle padX0 padtop0 cenX">PHOTOGRAPHY</h2>
                <div class="row">
                    <div class="col-lg-4 tilePadMin padY40">
                        <div class="centerDiv">
                            <h3 class= "cenX subTitle padX0" style="display:block">MANUAL</h3>
                            <h5 class="tileDesc">Take you to Canada - My second hometown</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 tilePadMin padY40">
                        <div class="centerDiv">
                            <h3 class="cenX subTitle padX0" style="display:block">PLUGINS</h3>
                            <h5 class="tileDesc">timelapses<a href="software/timelapse-auto-ramp"> Photoshop</a>,
                            timelapses in difficult lighting conditions</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 tilePadMin padY40">
                        <div class="centerDiv">
                            <h3 class="cenX subTitle padX0" style="display:block">IN PROCESS</h3>
                            <h5 class="tileDesc">Timelapses<br></h5>
                        </div>
                    </div>
                    <a class="btn btn-primary btn-lg centerBtn learnPhotoBtn" href="photography" role="button" onmouseover="mouseOver()" onmouseout="mouseOver()">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <% include ../partials/footer %>
    <script src="includes/jquery.min.js"></script>
    <!-- Odometr includes -->
    <link rel="stylesheet" href="includes/odometer-theme-default.css"/>
    <script src="includes/odometer.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
  </body>
</html>
