<% var rootPath = '../../../'; %>
<!DOCTYPE HTML>
<html>
    <head>
        <%- include(rootPath + 'partials/includes'); %>
    </head>
    <body>
        <%- include(rootPath + 'partials/nav'); %>
        <link rel="stylesheet" href="css/page.css">

        <div class="homeImg container-fluid">
                <div class="homeDiv center">
                        <h1 class="titleMain cenX white">Thie is no Hardware Project</span></h1>
                        <h3 class="regTitle cenX white">but some meaning pictures</span></h3>
                </div>

                <div class="cenX padB60 homeSouth w100">
                    <h3 class="regTitle white">I just want to give you a rest</h3>
                </div>

        </div>

        <div class="container-fluid backDark sec">
            <div class="container">
                <h3 class="subTitle white">IDEA</h3>
                <p class="subText white extPad" id="desc">loading... </p>
            </div>
        </div>

        <div class="container-fluid sec">
            <div class="container">
                <h3 class="subTitle">WHY?</h3>
                <p class="subP">loading...  </p>
            </div>

            <div class="container tiles">
                <div class="row pad">
                    <div class="col-md">
                        <h3 class="subTitle spa5 padL0">loading</h3>
                        <p>
                            loading... </p>
                    </div>
                    <div class="col-md">
                        <h3 class="subTitle spa5 padL0">loading</h3>
                        <p>loading... </p>
                    </div>

                </div>
                <div class="row pad padB60">
                    <div class="col-md">
                        <h3 class="subTitle padL0 spa5">SCALABLE</h3>
                        <p>loading... <br/></p>
                    </div>
                    <div class="col-md">
                        <h3 class="subTitle padL0 spa5">LOW COST</h3>
                        <p>loading... </p>
                    </div>
                </div>
            </div>

            <div class="container sche">
                <h3 class="subTitle">delete</h3>
                <p class="subP">loading... </p>

                <img src="/images/IMG_1731.jpg" width="90%" class="centerImg padY40"></img>
            </div>

            <div class="container scal">
                <h3 class="subTitle">SCALABILITY</h3>
                <p class="subP">Design a pack of any size and reuse the circuitry.</p>

                <p class="subP">loading... </p>
                <p class="subP bold">
                    loading... 
                </p>

                <p class="subP">
                    loading... <br/><br/>
                    loading... 
                </p>

                <p class="subP bold">
                    loading... 
                </p>

            </div>

            <div class="container">
                <h3 class="subTitle">delete</h3>
                <p class="subP">loading...  </p>

                <!-- <img src="images/timed.gif" width="90%" class="centerImg padY40"></img> -->
            </div>

            <div class="container">
                <h3 class="subTitle">delete</h3>
                <p class="subP">loading...  </p>

                <!-- <img src="images/advanced.gif" width="90%" class="centerImg padY40"></img> -->
            </div>

            <div class="container imp">
                <h3 class="subTitle">IMPROVEMENTS</h3>
                <p class="subP">loading... .<br/><br/>
                    I still need to implement:</p>

                    <ul class="listPad">
                        <li>loading... </li>
                        <li>loading... </li>
                        <li>loading... </li>
                    </ul>
            </div>
        </div>

        <div class="container-fluid btnLinks extPad">
            <div class="container">
                    <div class="cenDiv">
                        <div class="leftCenter">
                            <h3 class="sub2">CONTRIBUTE</h3>
                            <p class="subText padB20">If any aspects of this project interest you, contact me for
                            more details, a detailed schematic, or to participate!</p>
                            <a class="btn btn-secondary btn-lg w100" href="/contact" role="button">Contact Me</a>
                        </div>
                    </div>
            </div>
        </div>

        <%- include(rootPath + 'partials/footer'); %>
    </body>
</html>
