
<link href="<?= BASE_URL ?>/css/user_profile.css" rel="stylesheet">
<script src="<?= BASE_URL ?>/js/user_profile.js"></script>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Username: <?= $user->get('username') ?></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQI7s-7pNwWIp9i4x28JEttaao-gmhqSmx_kGYpGTfuRc7eSCm9Hg" class="img-responsive center-block" alt="Logo"> </div>
            <div class=" col-md-9 col-lg-9 "> 
              <form action="<?= BASE_URL ?>/edit/process" method="POST">
              <table class="table table-user-information">
              
                <tbody>
                  <tr>
                    <td>Username</td>
                    <td><input type="text" name="lname" value="<?= $user->get('username') ?>" style="width: 200px;"></td>
                  </tr>
                  <tr>
                    <td>New Password</td>
                    <td><input id="originpw" type="password" name="pw" style="width: 200px;"></td> 
                  </tr>
                  <tr>
                    <td>Confirm Password</td>
                    <td><input id="confirmpw" type="password" name="confirmpw" style="width: 200px;"></br><i class="hint" id="p_hint" style="color: red;">  Confirm password does not match.</i></br></td> 
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td><input type="text" name="email" value="<?= $user->get('email') ?>" style="width: 200px;"></td>
                  </tr>
                  <tr>
                    <td>First Name</td>
                    <td><input type="text" name="fname" value="<?= $user->get('first_name') ?>" style="width: 200px;"></td>  
                  </tr>
                  <tr>
                    <td>Last Name</td>
                    <td><input type="text" name="lname" value="<?= $user->get('last_name') ?>" style="width: 200px;"></td>  
                  </tr>
                  <tr>
                    <td>Bank Account</td>
                    <td><input type="text" name="bank" style="width: 200px;"></td> 
                  </tr>
                </tbody>
              </table>
              <input class="btn btn-primary" type="submit" id="create" name="submit" value="Save" disabled="disabled">
              </form>
              

              
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>