
<script src="<?= BASE_URL ?>/js/gl-matrix-min.js"></script>
<script type="text/javascript" src="<?= BASE_URL ?>/js/webgl-utils.js"></script>
<script src="<?= BASE_URL ?>/js/mp1.js"></script>
<?php
  $user = User::loadById($_SESSION['id']);
  $point = $user->get('point');
  $type = 1;
  if ($point <= 0): ?>

<?php $type = -1; ?>
<?php endif; ?>
<body onload="startup(<?= $type ?>);">
<link href="css/home.css" rel="stylesheet">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-sm-4 sidebar1">
      <div class="logo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQI7s-7pNwWIp9i4x28JEttaao-gmhqSmx_kGYpGTfuRc7eSCm9Hg" class="img-responsive center-block" alt="Logo">
      </div>
      <br>
      <div class="left-navigation">
        <ul class="list">
          <li><a class="home-left" href="<?= BASE_URL ?>/market">Research</a></li>
          <li><a class="home-left" href="<?= BASE_URL ?>/transaction">Transaction History</a></li>
          <li><a class="home-left" href="<?= BASE_URL ?>/prediction">Prediction</a></li>
        </ul>
      </div>
    </div>
    <div class="content homelist">
      <!--Main content code to be written here --> 
      <ul id="main" style="width: 75%">
        <?php if($holdings == null): ?>

        <h1 style="color: white;">You are not holding any stock yet.</h1>

        <?php else: ?>

        <?php foreach($holdings as $holding): ?>

        <?php
          $ticket = $holding['symbol'];
          $stock = Stock::getStockBySymbol($ticket);
        ?>
        <div style="padding-top: 20px;">
          <div class="card">
            <h3 class="card-header"><?= $ticket ?>: <?= $holding['Security'] ?></h3>
            <div class="card-block">
              <h4 class="card-title">Price: <?= $stock->get('close') ?></h4>
              <p class="card-text">Current Volume: <?= $holding['volume'] ?></p>
              <a href="<?= BASE_URL ?>/pricing/<?= $ticket ?>" class="btn btn-primary">View Detail</a>
            </div>
          </div>
        </div>
        <?php endforeach; ?>

        <?php endif; ?>
      </ul>
      
    </div>
  </div>
</div>
  <script id="shader-vs" type="x-shader/x-vertex">
   attribute vec3 aVertexPosition;
   attribute vec4 aVertexColor;

    uniform mat4 uMVMatrix;
    varying vec4 vColor;

    void main(void) {
        gl_Position = uMVMatrix*vec4(aVertexPosition, 1.0);
        vColor = aVertexColor;
    }
</script>

<script id="shader-fs" type="x-shader/x-fragment">
precision mediump float;
varying vec4 vColor;
void main(void) {
        gl_FragColor = vColor;
 }
</script>
<div>
<?php  if ($point <= 0): ?>

<h4 style="color: white;">You may want to adjust your investment strategies.</h1>
<?php else: ?>
<h4 style="color: white;">Your investment is very healthy.</h1>
  <?php endif; ?>
<canvas id="myGLCanvas" width="300" height="300"></canvas>  
</div>

