<link rel="stylesheet" href="css/stock_info.css"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<div class="stockshow" style=" margin-left: 20px; margin-right: 20px;width: 90%;text-align: center;">

    <div style="margin-left: 20px;background-color: #f1f1f1;padding: 14px 16px;">
        <h4>Ticker Symbol: <?= $symbol ?></h4>
    </div>
    <div style="margin-left: 20px;background-color:white;padding: 14px 16px;">
        <ul class="w3-ul w3-border">
            <li class="#">Date: <span class="#"><?= $stock->get('date') ?></span></li>
            <li class="#">Open: <span class="#"><?= $stock->get('open') ?></span></li>
            <li class="#">Close: <span class="#"><?= $stock->get('close') ?></span></li>
            <li class="#">Low: <span class="#"><?= $stock->get('low') ?></span></li>
            <li class="#">High: <span class="#"><?= $stock->get('high') ?></span></li>
            <li class="#">Volume: <span class="#"><?= $stock->get('volume') ?></span></li>
        </ul>
    </div>
</div>

<div class="stockshow" style=" margin-left: 20px; margin-right: 20px;width: 90%;text-align: center;">

    <div style="margin-left: 20px;background-color: #f1f1f1;padding: 14px 16px;">
        <h3>Company: <?= $company['Security'] ?></h3>
    </div>
    <form action="<?= BASE_URL ?>/trade/process" method="POST">

        <div style="margin-left: 20px;background-color:white;padding: 14px 16px;">
            <ul class="w3-ul w3-border">
                <li class="#">SEC_filings: <span class="#"><?= $company['SEC_filings'] ?></span></li>
                <li class="#">GICS_Sector: <span class="#"><?= $company['GICS_Sector'] ?></span></li>
                <li class="#">GICS_Sub_Industry: <span class="#"><?= $company['GICS_Sub_Industry'] ?></span></li>
                <li class="#">Address_of_Headquarters: <span class="#"><?= $company['Address_of_Headquarters'] ?></span>
                </li>
                <li class="#">Date_first_added: <span class="#"><?= $company['Date_first_added'] ?></span></li>
                <li class="#">CIK: <span class="#"><?= $company['CIK'] ?></span></li>
            </ul>
        </div>
        <div style="margin-left: 20px;background-color: #f1f1f1;padding: 14px 16px;">
            <tr>
                <th>Ticker Symbol</th>
                <th><input type="text" name="tradetickersymbol" value=<?= $symbol ?>></th>

                <th>Volume</th>
                <th><input type="text" name="quantity"></th>
            </tr>
            <tr>
                <th><input type="submit" name="buyorsell" value="Buy"></th>
                <th><input type="submit" name="buyorsell" value="Sell"></th>
            </tr>
        </div>
    </form>

</div>
