<!DOCTYPE html>
<html>
<head>
    <title>Transaction</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.">
    <meta name="description" content="Transaction">

    <link rel="stylesheet" href="css/market.css"/>

    <script src="js/market.js"></script>
</head>
<div class="stockshow" style="background-color: floralwhite;">
    <body>
    <!-- This is a comment -->
    <!-- Do not display this at the moment
    <img border="0" src="pic_mountain.jpg" alt="Mountain">
    -->

    <div class="column middle">
        <!--Main content code to be written here -->
        <table id="market">
            <tr>
                <th>id</th>
                <th>symbol</th>
                <th>volume</th>
                <th>price</th>
                <th>buy or sell</th>

            </tr>
            <?php foreach($transactions as $transaction): ?>
            <?php
            $ticket = $transaction->get('id');
            ?>
            <tr>
                <th><?= $transaction->get('id') ?></a></th>
                <th><?= $transaction->get('symbol') ?></th>
                <th><?= $transaction->get('volume') ?></th>
                <th><?= $transaction->get('price') ?></th>
                <?php if ($transaction->get('buyorsell') >= 0) : ?>
                <th>buy</th>
                <?php else : ?>
                <th>sell</th>
                <?php endif; ?>

            </tr>
            <?php endforeach; ?>

        </table>
        <div>

        </div>
    </div>

</div>


</body>
</div>
</html>
