<link rel="stylesheet" href="css/user_profile.css" />
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Username: <?= $user->get('username') ?></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQI7s-7pNwWIp9i4x28JEttaao-gmhqSmx_kGYpGTfuRc7eSCm9Hg" class="img-responsive center-block" alt="Logo"> </div>
            <div class=" col-md-9 col-lg-9 "> 
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Username</td>
                    <td><?= $user->get('username') ?></td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td><?= $user->get('email') ?></td>
                  </tr>
                  <tr>
                    <td>First Name</td>
                    <td><?= $user->get('first_name') ?></td>  
                  </tr>
                  <tr>
                    <td>Last Name</td>
                    <td><?= $user->get('last_name') ?></td>  
                  </tr>
                  <tr>
                    <td>Date of Birth</td>
                    <td><?= $user->get('dob') ?></td>  
                  </tr>
                  <tr>
                    <td>Bank Account</td>
                    <td><?= $user->get('bank_account') ?></td> 
                  </tr>
                  <tr>
                    <td>Membership Level</td>
                    <td><?= $member ?></td>  
                  </tr>
                  <tr>
                    <td>Membership Until</td>
                    <td><?= $user->get('membership_end') ?></td> 
                  </tr>
                </tbody>
              </table>
              <form action="<?= BASE_URL ?>/edit" method="POST">
              <button class="btn btn-primary" type="submit">Edit</button>
              </form>



            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>